html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	overflow:hidden;
}

#infoDiv {
	width: 230px;
	padding: 10px;
	height: 100%;
	background-color: #c5d6d6;
	color: #555;
	float: left;
	overflow-y: auto;
}

#mapDiv {
	height: 100%;
	width: calc(100% - 250px);
	margin-left: 250px;
	background-color: #c5d6d6;
}

.land {
	fill: #f7f5e8;
	stroke: #e2e1d7;
}

.hidden {
	display: none;
}

#tooltip {
	z-index: 100;
	position: absolute;
	text-align: left;
	font: 12px sans-serif;
	border: 0px;
	pointer-events: none;
}

/*optional*/
.xLine, .yLine {
	stroke: grey;
	stroke-width: 1px;
	opacity: .3;
}

.bbox {
	stroke: black;
	stroke-width: 2px;
}

.delaunay {
	stroke: #fff;
	stroke-width: 1px;
	opacity: .3
}